@use "../util/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  width: min(85%, 90rem);
  margin-inline: auto;
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  background-image: url("../../images/bg-pattern-top.svg"),
    url("../../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top -500px left -400px, bottom -700px right -250px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}
